---
// component imports
import PostCard from "@components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { formatBlogPosts } from "src/js/utils";
import Pagination from "@components/Pagination.astro";
import CategoryCloud from "@components/CategoryCloud.astro";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const allPosts = await Astro.glob("./*.md");
  const formattedPosts: Record<string, any>[] = formatBlogPosts(allPosts, {});

  return paginate(formattedPosts, {
    pageSize: 2,
  });
}

const { page } = Astro.props;
console.log(page);
---

<MainLayout title="My Blog">
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        page.data.map((post: any) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next}/>
  </section>
  <aside class="container" aria-label="Blog Categories">
    <h2 class="h3">Blog Categories</h2>
    <CategoryCloud showCount={true}/>
  </aside>
</MainLayout>
